
.home{
    padding: 0;
    background-color: #ce962e;
    background-image: url('./images/home2.jpeg');
    background-repeat: no-repeat;
}


.home .slide .content h1 {
    font-size: 50px;
    color: rgb(2, 0, 36);
    text-decoration: underline;
    text-align: initial;
    position: absolute;
    top: 20%;
    left: 20%;
    width: 100%; 
  }
.home .slide .content span{
    font-size: 2.5rem;
    color: var(--primary-color);
}

.home .swiper-slide-active .content{
    display: inline-block;
}
